body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #005941;
  margin: 0px;
  padding: 10px;
}

.App {
  text-align: center;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #3f565e;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
  border-radius: 10px;
}

h1 {
  text-align: center;
  color: #000000
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

thead {
  background-color: #9ccb3b;
  color: #000000;
}

th, td {
  padding: 10px;
  border: 1px solid #000;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #53727d;
}

button {
  padding: 5px 10px;
  margin-right: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  opacity: 0.85;
}

button.delete {
  background-color: #dc3545;
  color: #000000;
}

button.edit {
  background-color: #ffc107;
  color: #000;
}

form {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f7f7f7;
}

form h3, form h4 {
  margin-top: 0;
  color: #000000;
}

form div {
  margin-bottom: 10px;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

form input, form select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #ccc;
}

form button {
  background-color: #007BFF;
  color: #fff;
}

form button:hover {
  background-color: #0056b3;
}

.edit-form-container {
  background-color: #fff;
  padding: 15px;
  border: 1px solid #007BFF;
  border-radius: 8px;
  margin-bottom: 20px;
}

/* container for sliding effect */
.form-container {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.75s ease-in-out, opacity 0.75s ease-in-out;
}

/* to expand smoothly */
.form-container.show {
  max-height: 500px;
  opacity: 1;
}

.form-container:not(.show) {
  padding: 0;
  margin: 0;
}

.edit-form-container {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.75s ease, opacity 0.75s ease;
}

.edit-form-container.show {
  max-height: 500px;
  opacity: 1;
}

.edit-form-container:not(.show) {
  padding: 0;
  margin: 0;
}
